# Virtual Environments
venv/
venv_wsl/
venv_win/
.env

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Data and Models
data/
models/
*.pkl
*.csv
*.db
*.sqlite3

# IDE / Editor Files
.vscode/
.idea/
.DS_Store